# Data cleaning imdb data set

In this project I will be __cleaning__ the data that I `scraped` from the `imdb website` in my __first project__. 
I will start __importing__ the required __libraries__, reading in the data the using the `"pd.read_csv"` funtion 
and having a look at the dataframe using the `".head()"` function

Importing the libraries.

In [10]:
import numpy as np
import pandas as pd

__Read__ in data and save in `variable` called `df`

In [2]:
df =  pd.read_csv("movie_df")

Here we can see the first 5 rows of the data.

In [12]:
df.head()

,Unnamed: 0,Name of movie,Year of release,Runtime,Ratings,Metascore,Votes,Gross,Discription,Director,Stars
0,0,Jai Bhim,2021,164,9.3,NaN,"173,288",#138,When a tribal man is arrested for a case of al...,T.J. Gnanavel,"['Suriya, Lijo Mol Jose, Manikandan, Rajisha V..."
1,1,The Shawshank Redemption,1994,142,9.3,80.0,"2,541,041",$28.34M,Two imprisoned men bond over a number of years...,Frank Darabont,"['Tim Robbins, Morgan Freeman, Bob Gunton, Wil..."
2,2,The Godfather,1972,175,9.2,100.0,"1,748,372",$134.97M,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"['Marlon Brando, Al Pacino, James Caan, Diane ..."
3,3,Soorarai Pottru,2020,153,9.1,NaN,"107,159",******,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,"['Suriya, Paresh Rawal, Aparna Balamurali, Pra..."
4,4,The Dark Knight,2008,152,9.0,84.0,"2,491,317",$534.86M,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale, Heath Ledger, Aaron Eckhart,..."

Here we can see the last 5 rows of the data.

In [7]:
df.tail()

,Unnamed: 0,Name of movie,Year of release,Runtime,Ratings,Metascore,Votes,Gross,Discription,Director,Stars
95,95,Vikram Vedha,2017,147,8.3,NaN,"35,900",******,"Vikram, a no-nonsense police officer, accompan...","Gayatri, Pushkar","['Madhavan, Vijay Sethupathi, Shraddha Srinath..."
96,96,Drishyam,2013,160,8.3,NaN,"39,567",#244,A man goes to extreme lengths to save his fami...,Jeethu Joseph,"['Mohanlal, Meena, Asha Sharath, Ansiba']"
97,97,Jagten,2012,115,8.3,77.0,"313,632",$0.69M,"A teacher lives a lonely life, all the while s...",Thomas Vinterberg,"['Mads Mikkelsen, Thomas Bo Larsen, Annika Wed..."
98,98,Jodaeiye Nader az Simin,2011,123,8.3,95.0,"238,114",$7.10M,A married couple are faced with a difficult de...,Asghar Farhadi,"['Payman Maadi, Leila Hatami, Sareh Bayat, Sha..."
99,99,Incendies,2010,131,8.3,80.0,"168,721",$6.86M,Twins journey to the Middle East to discover t...,Denis Villeneuve,"['Lubna Azabal, Mélissa Désormeaux-Poulin, Max..."

Looking at the `info`, we can see that we have a total of __11__ `columns` and listed below are there `names`, the `range` of the `index`, what the different `data types` are and that the column `"Metascore"` have __75__ out of __100__ values, meaning that it is `missing` __25__ values for that column.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       100 non-null    int64
 1   Name of movie    100 non-null    object
 2   Year of release  100 non-null    object
 3   Runtime          100 non-null    int64
 4   Ratings          100 non-null    float64
 5   Metascore        75 non-null     float64
 6   Votes            100 non-null    object
 7   Gross            100 non-null    object
 8   Discription      100 non-null    object
 9   Director         100 non-null    object
 10  Stars            100 non-null    object
dtypes: float64(2), int64(2), object(7)
memory usage: 8.7+ KB

Using the `".shape"` function is another way to determine the __amount__ of __rows__ and __columns__ in the data set.

In [4]:
df.shape

(100, 11)

Here just like in the __info function__ we can sum up the __null__ values using `"isnull()"` function and then adding the `"sum()"` function. We can see that all the columns have values except for `"Metascore"` but we still have to do more analysis to determine if our data is infact the right data in each column etc.

In [14]:
df.isnull().sum()

Unnamed: 0          0
Name of movie       0
Year of release     0
Runtime             0
Ratings             0
Metascore          25
Votes               0
Gross               0
Discription         0
Director            0
Stars               0
dtype: int64

Using the `describe()` function we can get a look at all our numeric columns summary statistics, non numeric data wont be displayed.

In [15]:
df.describe()

       Unnamed: 0     Runtime     Ratings   Metascore
count  100.000000  100.000000  100.000000   75.000000
mean    49.500000  137.100000    8.552000   83.653333
std     29.011492   27.426486    0.219034   10.404642
min      0.000000   87.000000    8.300000   61.000000
25%     24.750000  116.750000    8.400000   77.000000
50%     49.500000  134.500000    8.500000   85.000000
75%     74.250000  155.250000    8.600000   91.500000
max     99.000000  207.000000    9.300000  100.000000

In [16]:
df.corr()

            Unnamed: 0   Runtime   Ratings  Metascore
Unnamed: 0    1.000000 -0.342974 -0.889850  -0.069199
Runtime      -0.342974  1.000000  0.342478  -0.124830
Ratings      -0.889850  0.342478  1.000000   0.176087
Metascore    -0.069199 -0.124830  0.176087   1.000000